.rsfont {
  font-family: rsfont !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'rsfont';  /* Project id 1412786 */
  src: url('//at.alicdn.com/t/font_1412786_6z6hyj09q7.woff2?t=1629293075980') format('woff2'),
       url('//at.alicdn.com/t/font_1412786_6z6hyj09q7.woff?t=1629293075980') format('woff'),
       url('//at.alicdn.com/t/font_1412786_6z6hyj09q7.ttf?t=1629293075980') format('truetype');
}

@font-face {
  font-family: 'menlo';
  src: url('/static/Menlo.ttf') format('truetype');
}

html {
  background: #f1f2f3;
  padding: 0;
  margin: 0;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

